@tailwind base;
@tailwind components;
@tailwind utilities;

/* Force the theme across the whole document */
:root {
  background-color: #020617 !important; /* Force black background */
  color: white;
}

body {
  margin: 0;
  display: block !important; /* Remove Vite's centering */
  min-height: 100vh;
  width: 100%;
}

/* Custom Red Scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #020617;
}
::-webkit-scrollbar-thumb {
  background: #7f1d1d;
  border-radius: 10px;
}